@import "./common.scss";

.ts-video {
  height: 100%;
  display: grid;
  place-items: center;
  background-image: url("../assets/images/bg-images/2.jpg");

  .plyr__poster {
    background-size: cover;
    background-position: center;
  }
  .plyr__video-wrapper {
    border: 2px solid $secondary-color;
    box-shadow: 1px 1px 5px 3px rgba(39, 102, 247, 0.75) inset;
    -webkit-box-shadow: 1px 1px 5px 3px rgba(39, 102, 247, 0.75) inset;
    -moz-box-shadow: 1px 1px 5px 3px rgba(39, 102, 247, 0.75) inset;
  }

  video {
    width: 100%;
  }
  .plyr__control--overlaid {
    background-color: $secondary-color;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid $secondary-color;
    padding: 26px;
    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: $secondary-color;
    }
  }

  .plyr.plyr--stopped .plyr__controls {
    display: none;
  }

  @media (max-height: 750px) and (min-width: 1200px) {
    &__main {
      max-width: 1000px;
    }
  }
  @media (max-height: 600px) and (min-width: 1000px) {
    &__main {
      max-width: 700px;
    }
  }
  @media (max-width: 575px) {
    video {
      height: 65vh;
      width: auto;
      max-width: 100%;
    }
  }
}
